# PlatformIO
.pio

# CMake
CMakeListsPrivate.txt
cmake-build-*/

# IDE
.vscode
.idea

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Project temp files
/tmp/